/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/bookingly.scss ***!
  \*************************************************************************************************************/
:root {
  --text-white-color: #ffffff;
  --text-color: #111827;
  --border-color: #e6e6e6;
}

form.rnb-cart .bookingly-calendar > label {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar {
  width: 100%;
  box-shadow: none;
  border: 1px solid var(--border-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar::before, form.rnb-cart .bookingly-calendar .flatpickr-calendar::after {
  display: none;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months {
  position: relative;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
  background-color: var(--border-color);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: auto;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month:hover svg {
  fill: var(--text-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  background-color: var(--border-color);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: auto;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--text-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month {
  border-bottom: 1px solid var(--border-color);
  height: 56px;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: static;
  width: 100%;
  height: auto;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .flatpickr-monthDropdown-months {
  padding: 8px;
  padding-right: 30px;
  margin-inline-end: 12px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  appearance: none;
  position: relative;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACOSURBVHgBbY2xDcJAEAR37QbcAgEEiATKAGcgCEF8AbgDTAduAAQpIoWcjMwRJK7lvehfeullebO5m71jvjGHVspe98sJPXF7CzGRFSmW8/X+2JXcTC2q1CZZ2vzqz2g8GxAshpMpmm/9DpI7AOH2fJwLhvZiZa4gtqJKx5G08xy/CrKHSOpNvjSVL3TyB2zWN/wdQtugAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: 94% center;
  background-clip: border-box;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background-color: transparent;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .flatpickr-monthDropdown-months:focus {
  border-color: var(--text-color);
  box-shadow: none;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper {
  width: 70px;
  padding: 0;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper:hover {
  background-color: transparent;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper > .numInput {
  min-height: 32px;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: none;
  padding: 4px 8px;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper > .numInput:focus {
  border-color: var(--text-color);
  box-shadow: none;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper span {
  opacity: 1;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer {
  width: 100%;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays {
  height: 56px;
  width: 100%;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays .flatpickr-weekdaycontainer {
  width: 100%;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays .flatpickr-weekdaycontainer span {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days {
  width: 100%;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 0 8px;
  padding-bottom: 8px;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span {
  max-width: 100%;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.flatpickr-day {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  border-radius: 4px;
  background-color: var(--border-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.prevMonthDay {
  opacity: 0.5;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.nextMonthDay {
  opacity: 0.5;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.today {
  border-color: var(--text-color);
  font-weight: 600;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.today:hover {
  background-color: var(--border-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.selected {
  color: var(--text-white-color);
  background-color: var(--text-color);
  border-color: var(--text-color);
  font-weight: 600;
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.selected:hover {
  color: var(--text-white-color);
  background-color: var(--text-color);
  border-color: var(--text-color);
}
form.rnb-cart .bookingly-calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer span.flatpickr-disabled {
  opacity: 0.2;
}
form.rnb-cart .bookingly-slots {
  margin-top: 20px;
  margin-bottom: 40px;
}
form.rnb-cart .bookingly-slots ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
form.rnb-cart .bookingly-slots ul li {
  padding: 0px;
  overflow: hidden;
}
form.rnb-cart .bookingly-slots ul li.checked label {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--text-white-color);
}
form.rnb-cart .bookingly-slots ul li label {
  margin: 0;
  padding: 8px 16px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
}
form.rnb-cart .bookingly-slots ul li label:hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--text-white-color);
}
form.rnb-cart .bookingly-slots ul li input {
  display: none;
}

/*# sourceMappingURL=style.css.map*/